<table class="table table-striped">
<tr>
<th>Name</th>
<th>Link to the movies</th>
</tr>
{% for item in items %}
<tr>
<td> <a href =/node/{{ item.nid }}>{{ item.name }}</a></td>
<td> <a href =/moviedb/{{ item.nid }}>Click to view all movies of {{ item.name }}</a></td>
</tr>
{% endfor %}

</table>
