.atag {
	color: black;
}
.atag:hover {
	color: red;
}
.dialog-off-canvas-main-canvas {
    color:black;
    background: rgba(57, 230, 16, 0.15); ;
    font-family: 'Roboto', sans-serif;
}
.glyphicon-star {
	 font-size: 14px;
	 color: #e67e22;
}
 .glyphicon-star.half {
	 position: relative;
}
 .glyphicon-star.half:before {
	 position: relative;
	 z-index: 9;
	 width: 47%;
	 display: block;
	 overflow: hidden;
}
 .glyphicon-star.half:after {
	 content: "\e006";
	 position: absolute;
	 z-index: 8;
	 color: #bdc3c7;
	 top: 0;
	 left: 0;
}

.costar_popup{
    background: rgba(0,0,0,.4);
    cursor: pointer;
    display: none;
    height: 300px;
    position: fixed;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    border-radius: 8px;
    z-index: 10000;
}

.costar_popup .popup{
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}
.modal-image {
  padding: 6px;
  width: 100%;
  height: 170px;
  border-bottom: 1px solid #e9ecef;
}
.modal-title {
  width: 100%;
}
.modal-role {
  border-bottom: 1px solid #e9ecef;
}
.modal-header {
    justify-content: space-between;
    border-bottom: 1px solid #e9ecef;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}
/* Popup box BEGIN */
